extends ../layout

block content
  h1= "Employees"
  dl
    dt "name"
    dd #{employee.name}
    dt "department"
    dd #{employee.department}
    dt "gender"
    dd #{employee.gender}
    dt "birth"
    dd #{employee.birth}
    dt "joined_date"
    dd #{employee.joined_date}
    dt "pay"
    dd #{employee.pay}
    dt "note"
    dd #{employee.note}
