extends ../layout

block content
  h1= "Employees"
  table
    tr
      th "ID"
      th "Name"
      th "Department"
      th "Gender"
    each employee in employees
      tr
        td= employee.id
        td= employee.name
        td= employee.department
        td= employee.gender
