extends ../layout

block content
  h1= "Employee"
    dl
      dt "name"
      dd= employee.name
      dt "department"
      dd= employee.department
      dt "gender"
      dd= employee.gender
      dt "birth"
      dd= employee.birth
      dt "joined_date"
      dd= employee.joined_date
      dt "payment"
      dd= employee.payment
      dt "note"
      dd= employee.note
